body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {    
    color: #fff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../imagens/imgheader.jpg');
    background-size: cover;
    background-position: center;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: inline-block;
}

#menu a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(142, 154, 196);
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

#menu a:hover {
    background-color: #999;
}


header h1 {
    font-size: 24px;
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
} 

.logo img {
    height: 80px;
    width: auto;
    margin-left:20px;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-group button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.links {
    margin-top: 20px;
}

.links a {
    margin-right: 20px;
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
